
<!DOCTYPE html>

<html>


    <head>
        <title>Tip Calculator </title>
    </head>
    
    
    <body>
    
        
        <p><a href="../stuff">back to home page</a></p>
    
        <form action="display" method="GET">
        
            <p>Meal Price: <input type="number" step="0.01" name="price"/></p>
            <p>Service: &nbsp; lousy <input type="range" min="5" max="31" name="service"/> stupendous </p>
            <p><input type="submit" value="Calculate"><input type="reset" value="Clear"></p>
        
        </form>
    
    </body>


</html>














